<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mapper.ActorFilmMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.ActorFilm" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="a_id" jdbcType="VARCHAR" javaType="java.lang.Integer" />
      <arg column="f_id" jdbcType="VARCHAR" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, a_id, f_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_actorfilm
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_actorfilm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.entity.ActorFilm">
    insert into t_actorfilm (id, a_id, f_id)
    values (#{id,jdbcType=INTEGER}, #{aId,jdbcType=VARCHAR}, #{fId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.ActorFilm">
    insert into t_actorfilm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aId != null">
        a_id,
      </if>
      <if test="fId != null">
        f_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aId != null">
        #{aId,jdbcType=VARCHAR},
      </if>
      <if test="fId != null">
        #{fId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.ActorFilm">
    update t_actorfilm
    <set>
      <if test="aId != null">
        a_id = #{aId,jdbcType=VARCHAR},
      </if>
      <if test="fId != null">
        f_id = #{fId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.ActorFilm">
    update t_actorfilm
    set a_id = #{aId,jdbcType=VARCHAR},
      f_id = #{fId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>