<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="cn.entity.Order">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="recordId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="seatNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="seatInfo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="money" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="buyTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="orderNum" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
    <!-- 分步连接查询订单信息和订单条目 -->
    <collection property="itemList" select="cn.mapper.OrderItemMapper.selectByOrderId" column="id"></collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, recordId, seatNum, seatInfo, money, status, buyTime, phone, orderNum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.entity.Order">
    insert into t_order (id, userId, recordId, 
      seatNum, seatInfo, money, 
      status, buyTime, phone, orderNum
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{recordid,jdbcType=INTEGER}, 
      #{seatnum,jdbcType=INTEGER}, #{seatinfo,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{buytime,jdbcType=TIMESTAMP}, #{phone,jdbcType=VARCHAR},
      #{orderNum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="cn.entity.Order">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="recordid != null">
        recordId,
      </if>
      <if test="seatnum != null">
        seatNum,
      </if>
      <if test="seatinfo != null">
        seatInfo,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="buytime != null">
        buyTime,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="orderNum != null">
        orderNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="recordid != null">
        #{recordid,jdbcType=INTEGER},
      </if>
      <if test="seatnum != null">
        #{seatnum,jdbcType=INTEGER},
      </if>
      <if test="seatinfo != null">
        #{seatinfo,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="buytime != null">
        #{buytime,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.Order">
    update t_order
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="recordid != null">
        recordId = #{recordid,jdbcType=INTEGER},
      </if>
      <if test="seatnum != null">
        seatNum = #{seatnum,jdbcType=INTEGER},
      </if>
      <if test="seatinfo != null">
        seatInfo = #{seatinfo,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="buytime != null">
        buyTime = #{buytime,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        orderNum = #{orderNum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.Order">
    update t_order
    set userId = #{userid,jdbcType=INTEGER},
      recordId = #{recordid,jdbcType=INTEGER},
      seatNum = #{seatnum,jdbcType=INTEGER},
      seatInfo = #{seatinfo,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      buyTime = #{buytime,jdbcType=TIMESTAMP},
      phone = #{phone,jdbcType=VARCHAR},
      orderNum = #{orderNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>