<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="cn.entity.Room">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="roomName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="seatFound" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="roomType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="seatNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cinemaId" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>

  </resultMap>
  <sql id="Base_Column_List">
    id, roomName, seatFound, roomType, seatNum, cinemaId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByCinemaId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_room
    where cinemaId = #{cinemaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.entity.Room">
    insert into t_room (id, roomName, seatFound, 
      roomType, seatNum, cinemaId
      )
    values (#{id,jdbcType=INTEGER}, #{roomname,jdbcType=VARCHAR}, #{seatfound,jdbcType=VARCHAR}, 
      #{roomtype,jdbcType=VARCHAR}, #{seatnum,jdbcType=INTEGER}, #{cinemaid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.Room">
    insert into t_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomname != null">
        roomName,
      </if>
      <if test="seatfound != null">
        seatFound,
      </if>
      <if test="roomtype != null">
        roomType,
      </if>
      <if test="seatnum != null">
        seatNum,
      </if>
      <if test="cinemaid != null">
        cinemaId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomname != null">
        #{roomname,jdbcType=VARCHAR},
      </if>
      <if test="seatfound != null">
        #{seatfound,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null">
        #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="seatnum != null">
        #{seatnum,jdbcType=INTEGER},
      </if>
      <if test="cinemaid != null">
        #{cinemaid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.Room">
    update t_room
    <set>
      <if test="roomname != null">
        roomName = #{roomname,jdbcType=VARCHAR},
      </if>
      <if test="seatfound != null">
        seatFound = #{seatfound,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null">
        roomType = #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="seatnum != null">
        seatNum = #{seatnum,jdbcType=INTEGER},
      </if>
      <if test="cinemaid != null">
        cinemaId = #{cinemaid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.Room">
    update t_room
    set roomName = #{roomname,jdbcType=VARCHAR},
      seatFound = #{seatfound,jdbcType=VARCHAR},
      roomType = #{roomtype,jdbcType=VARCHAR},
      seatNum = #{seatnum,jdbcType=INTEGER},
      cinemaId = #{cinemaid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>