<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.2.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">


    <!-- 配置扫描包  -->
    <context:component-scan base-package="cn"/>

    <!-- 加载注解  -->
    <mvc:annotation-driven/>
    <!-- 配置视图-->
    <mvc:view-controller path="/filmMain" view-name="FilmMain"/>
    <mvc:view-controller path="/registerUI" view-name="register"/>
    <mvc:view-controller path="/chooseFilm" view-name="ChooseFilm"/>
    <mvc:view-controller path="/chooseCinema" view-name="ChooseCinema"/>
    <mvc:view-controller path="/loginUser" view-name="loginUser"/>
    <mvc:view-controller path="/filmInfo" view-name="Filminfo"/>
    <mvc:view-controller path="/seatNumber" view-name="SeatNumber"/>
    <mvc:view-controller path="/selectFilm" view-name="SelectFilm"/>

    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/cn/**" location="/cn/controller"/>
    <mvc:resources mapping="/movieImg/**" location="/movieImg/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/layui/**" location="/layui/"/>
    <mvc:default-servlet-handler/>

    <!-- 配置视图解析器,作用是配置目录前缀和文件后缀，然后解析为一个资源文件 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- cron定时器配置 -->
    <task:annotation-driven />
</beans>