<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mapper.FilmMapper">
  <resultMap id="BaseResultMap" type="cn.entity.Film">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="filmName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="filmType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="filmArea" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="showTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="duration" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="posterUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="filmIntro" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="language" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="boxOffice" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="filmScore" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="expect" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="state" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, filmName, filmType, filmArea, showTime, duration, posterUrl, filmIntro, language, 
    boxOffice, filmScore, expect,state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_film
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    order by rend() limit 8
  </select>
  <select id="selectAllfilm" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
        t_film
  </select>
  <!--动态查询电影信息（电影名，电影类型，电影状态）-->
  <select id="selectByCondition2" resultType="cn.entity.Film" parameterType="cn.entity.Film">
    select
    <include refid="Base_Column_List" />
    from t_film
    <where>
      <if test="filmname != null and filmname != '' ">
        filmName = #{filmname}
      </if>
      <if test="filmtype != null and filmtype != '' ">
        and filmType=#{filmtype}
      </if>
      <if test="state != null and state != '' ">
        and state=#{state}
      </if>
    </where>
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    where filmName like concat('%',#{name,jdbcType=VARCHAR},'%')
  </select>
  <select id="selectByType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    where filmType = #{type,jdbcType=VARCHAR}
  </select>
  <select id="selectByArea" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    where filmArea = #{area,jdbcType=VARCHAR}
  </select>
  <select id="selectByShowTime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    <![CDATA[
        where showTime <= now()
    ]]>
    order by rand() limit 8
  </select>
  <select id="selectByLessTime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    <![CDATA[
        where showTime > now()
    ]]>
    order by rand() limit 8
  </select>

  <select id="selectByOffice" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    order by boxOffice
    limit 0,10
  </select>
  <select id="selectByOffice_100" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    order by boxOffice
    limit 0,100
  </select>
  <select id="selectByExpect" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    order by expect
    limit 0,50
  </select>

  <select id="selectByScore" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    order by filmScore
    limit 0,10
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_film
    <trim suffixOverrides="and" prefix="where">
      <if test="type != null || type != ''">
        filmType like concat('%',#{type},'%') and
      </if>
      <if test="area != null || type != ''">
        filmArea like concat('%',#{area},'%') and
      </if>
      <if test="time != null || type != ''">
        year(showTime) = #{time}
      </if>
    </trim>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_film
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.entity.Film">
    insert into t_film (id, filmName, filmType, 
      filmArea, showTime, duration, 
      posterUrl, filmIntro, language, 
      boxOffice, filmScore, expect
      )
    values (#{id,jdbcType=INTEGER}, #{filmname,jdbcType=VARCHAR}, #{filmtype,jdbcType=VARCHAR}, 
      #{filmarea,jdbcType=VARCHAR}, #{showtime,jdbcType=TIMESTAMP}, #{duration,jdbcType=INTEGER}, 
      #{posterurl,jdbcType=VARCHAR}, #{filmintro,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{boxoffice,jdbcType=DECIMAL}, #{filmscore,jdbcType=DECIMAL}, #{expect,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.Film">
    insert into t_film
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="filmname != null">
        filmName,
      </if>
      <if test="filmtype != null">
        filmType,
      </if>
      <if test="filmarea != null">
        filmArea,
      </if>
      <if test="showtime != null">
        showTime,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="posterurl != null">
        posterUrl,
      </if>
      <if test="filmintro != null">
        filmIntro,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="boxoffice != null">
        boxOffice,
      </if>
      <if test="filmscore != null">
        filmScore,
      </if>
      <if test="expect != null">
        expect,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filmname != null">
        #{filmname,jdbcType=VARCHAR},
      </if>
      <if test="filmtype != null">
        #{filmtype,jdbcType=VARCHAR},
      </if>
      <if test="filmarea != null">
        #{filmarea,jdbcType=VARCHAR},
      </if>
      <if test="showtime != null">
        #{showtime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="posterurl != null">
        #{posterurl,jdbcType=VARCHAR},
      </if>
      <if test="filmintro != null">
        #{filmintro,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="boxoffice != null">
        #{boxoffice,jdbcType=DECIMAL},
      </if>
      <if test="filmscore != null">
        #{filmscore,jdbcType=DECIMAL},
      </if>
      <if test="expect != null">
        #{expect,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.Film">
    update t_film
    <set>
      <if test="filmname != null">
        filmName = #{filmname,jdbcType=VARCHAR},
      </if>
      <if test="filmtype != null">
        filmType = #{filmtype,jdbcType=VARCHAR},
      </if>
      <if test="filmarea != null">
        filmArea = #{filmarea,jdbcType=VARCHAR},
      </if>
      <if test="showtime != null">
        showTime = #{showtime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="posterurl != null">
        posterUrl = #{posterurl,jdbcType=VARCHAR},
      </if>
      <if test="filmintro != null">
        filmIntro = #{filmintro,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="boxoffice != null">
        boxOffice = #{boxoffice,jdbcType=DECIMAL},
      </if>
      <if test="filmscore != null">
        filmScore = #{filmscore,jdbcType=DECIMAL},
      </if>
      <if test="expect != null">
        expect = #{expect,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.Film">
    update t_film
    set filmName = #{filmname,jdbcType=VARCHAR},
      filmType = #{filmtype,jdbcType=VARCHAR},
      filmArea = #{filmarea,jdbcType=VARCHAR},
      showTime = #{showtime,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=INTEGER},
      posterUrl = #{posterurl,jdbcType=VARCHAR},
      filmIntro = #{filmintro,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      boxOffice = #{boxoffice,jdbcType=DECIMAL},
      filmScore = #{filmscore,jdbcType=DECIMAL},
      expect = #{expect,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>